/* use the * to apply the setting on this line to the whole page  */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: gray;
}

.bg {
    background: url("https://i.imgur.com/p5b0SNj.jpg") no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    /* adding cal will even the blurr disto*/
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}